<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Wiserbrand\LoginHistory\Api\EntityRepositoryInterface"
                type="Wiserbrand\LoginHistory\Model\EntityRepository"/>
</config>